#header {
    display: flex;
    background-color: white;
    justify-content: space-between;
}

#container {
    margin: auto;
    max-width: 1440px;
    color: white;
}

#header {
    background-color: white;
    color: rgb(61, 61, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

#menu {
    display: flex;
    font-weight: 800;

}

#menu a {
    color: rgb(61, 61, 61);
    padding: 24px 26px;
    text-align: center;
    text-decoration: none;
    width: 25%;
}

#img1,
#img2 {
    border-radius: 75%;
}

#content {
    position: relative;
    background-image: url(../img/pexels.jpg);
    height: 653px;
    background-size: cover;
    color: white;
}

#divCenter {
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
}

#centerContent {
    display: flex;
    justify-content: center;
}

#centerContent div {
    padding: 0px 20px;
}

#divLB {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#divRB {
    position: absolute;
    border-radius: 20px;
    border: 3px dashed white;
    padding: 10px;
    bottom: 20px;
    right: 20px;
}

#RBSubTitle {
    color: red;
}