.divDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.divDetail img {
    width: 60%;
}

.Detail {
    width: 30%;
    text-align: center;
}


.MobileIcon {
    width: 180px;
}

.bg2Div p {
    width: 180px;
}

.MoreButton {
    display: block;
    font-size: 36px;
    width: 225px;
    height: fit-content;
    padding: 20px;
    background-color: #D9893F;
    text-align: center;
    border-radius: 50px;

}

.aText {
    color: #C69749;
}

.row {
    display: flex;
    justify-content: space-around;
    padding: 34px 16px;
}








@media screen and (max-width: 640px) {

    .divDetail,
    .row {
        flex-direction: column;
    }

    .divDetail img {
        width: 80%;
    }

    .Detail {
        width: 80%;
    }

    .pIntro {
        width: 80%;
        margin: auto;
    }

    .MobileIcon {
        width: 310px;
    }

    .bg2Div,
    .MoreButton {
        margin: auto;
    }

    .bg2Div p {
        width: 310px;
        margin-top: 5px;
        margin-bottom: 15px;
        text-align: center;
    }
}