.divDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.divDetail img {
    width: 60%;
}

.Detail {
    width: 30%;
    text-align: center;
}

.divIntro {
    margin: 3% auto;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 640px) {

    .divDetail {
        flex-direction: column;
    }

    .divDetail img,
    .divIntro,
    .Detail {
        width: 80%;
    }


}