.bg_w {
    background-color: #ffffff;
    color: #C54D9E;
    border-radius: 25px;
    margin: auto;
    width: 90%;
}

fieldset {
    border-radius: 25px;
}

#divName {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

#feedbackForm input,
#feedbackForm textarea {
    outline-style: none;
    border: #000000 solid 2px;
    padding: 14px 16px;
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 36px;
}

#feedbackForm #divName .inputw50 {
    width: 100%;
}

.divNameInput {
    width: 48%;
}



#submitButton {
    background-color: #C54D9E;
    color: white;
    text-align: center;
    margin: auto;
    padding: 14px 26px;
    width: fit-content;
    border-radius: 25px;
}







@media screen and (max-width: 640px) {}