#box1,
#box2 {
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
}

#box1 {
    width: 200px;
    height: auto;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

#box2 {
    width: 200px;
    font-weight: 900;
    color: red;
    background-image: url(../img/flower.png);
    background-repeat: repeat;
    background-size: 50px;
}