#container {
    display: flex;
    background-color: #0f0e0c;
    justify-content: center;
}

.content {
    width: 420px;
}


.div1 {
    color: #ffffff;
    font-family: 'BhuTuka Expanded One', cursive;

    border-style: solid;
    border-width: 0px 3px;
    border-color: #ffffff;

    display: flex;
    align-items: center;

    padding: 0px 70px;
}

.div1 h3 {
    font-family: 'Source Serif Pro', serif;
}