#logo { grid-area: logo; }
#menu { grid-area: menu; }

#imgSS { grid-area: imgSS; }

#f1 { grid-area: f1; }
#f2 { grid-area: f2; }
#f3 { grid-area: f3; }
#f4 { grid-area: f4; }

#SBar { grid-area: SBar; }
#textC { grid-area: textC; }

#footer { grid-area: footer; }

#container {
  display: grid;
  grid-template-areas:
    'logo logo menu menu menu menu'
    'imgSS imgSS imgSS imgSS imgSS imgSS'
    'f1 f1 f2 f2 f3 f3'
    'SBar SBar textC textC textC textC'
    'footer footer footer footer footer footer';
    
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

#container div,footer {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}