#blogMenu { grid-area: blogMenu; }

#logo { grid-area: logo; }
#menu { grid-area: menu; }
#phoneNo{grid-area: phoneNo;}

.blank{grid-area: blank;}
.blank1{grid-area: blank1;}

#imgSS { grid-area: imgSS; }
#SBar { grid-area: SBar; }
#textC { grid-area: textC; }

#footer { grid-area: footer; }

#container {
  display: grid;
  grid-template-areas:
  'blogMenu blogMenu blogMenu blogMenu blogMenu'
  'logo logo blank phoneNo phoneNo'
  'logo logo menu menu menu'
  'imgSS imgSS imgSS SBar SBar'
  'textC textC textC SBar SBar'
  'footer footer footer footer footer';
    
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

#container div,footer {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}